.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: white;
  border-radius: 0.75rem; /* rounded-xl */
  overflow: hidden;
  cursor: pointer;
  transition: 0.25s ease;
  border: 1px solid #e5e7eb;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
}

/* Dark mode */
.dark .card {
  background: #1f2937;
  border-color: #374151;
}

.contentImg {
  padding: 10px 10px;
  width: 100%;
  height: 150px;
  background-color: #e5e7eb;
  box-sizing: border-box;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.imgSkeleton {
  width: 100%;
  height: 100%;
  background: #eee;
}

/* Content */
.content {
  padding: 15px 15px 10px;
}

.title {
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 0.25rem;
}

.price {
  margin-top: 1rem 0;
  font-size: 1rem;
}

/* Botón */
.button {
  width: 100%;
  background-color: #137fec;
  color: white;
  padding: 0.6rem;
  border: none;
  border-radius: 0.5rem;
  font-weight: 500;
  transition: 0.2s;
  cursor: pointer;
}

.button:hover {
  background-color: #1f2937; 
}

/* Dark */
.dark .button {
  background-color: #facc15;
  color: #111;
}
.dark .button:hover {
  background-color: #eab308;
}

.containCounter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.containCounter p {
  font-size: 1rem;
  font-weight: bold;
}

/* Contador */
.counter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  overflow: hidden;
}

.counter button {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  background: #f3f4f6;
  border-radius: 50%;
  border: none;
  transition: background 0.5s;
}

.btnRemove:hover {
  background-color: crimson;
  transition: background 0.5s;
}

.btnRemove {
  padding: 0.25rem 0.6rem;
}

.btnAdd {
  padding: 0.25rem 0.5rem;
}
.btnAdd:hover {
  background-color: #137fec;
  transition: background 0.5s;
}

.counter p {
  flex: 1;
  text-align: center;
  border: none;
  outline: none;
  margin: 0;
}
