.header {
  height: 50px;
  position: sticky;
  top: 0;
  z-index: 50;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(4px);
}

.navContainer {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
  padding: 0.75rem 1rem;
  box-sizing: border-box;
}

.ul {
  padding-left: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 1rem;
  list-style: none;
}

.link {
  font-size: 1.1rem;
  text-decoration: none;
  color: #1f2a38;
  transition: background 0.5s;
}

.link:hover {
  color: #0084d1;
  transition: background 0.5s;
}
