.section {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem 1rem;
}

.wrapper {
  container-type: inline-size;
}

.container480 {
  padding: 0;
}

@container (min-width: 480px) {
  .container480 {
    padding: 0;
  }
}

.hero {
  display: flex;
  min-height: 480px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  padding: 1rem;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  border-radius: 12px;

  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
    url("https://lh3.googleusercontent.com/aida-public/AB6AXuCSJcjyfIBHpHdKQ1FDt911VeWNpVJagMM7AXTXv3iAuZVX-QhQhatToJRjThEiq3th0GCtZ0fwOPgB7Kj94bspkE-M-KU9ohI90w46PZZFVIvl9GShFb_F45kXGC2gP5dNcYogXWCA8jZ0ShONzFeDw3A7mNnj0WWF-YOJ6RU12Upf7DIEcUUU7lUldtU1HIYx3Xsf9uqzNot9SloFNnbp2CDOPEs4HhGz_uw9rBqK-uOWuYc1OtSO3sNYdaSs_etVCWBJbDBWw445");
}

@container (min-width: 480px) {
  .hero {
    gap: 2rem;
  }
}

.textContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.title {
  color: white;
  font-size: 2.25rem;
  font-weight: 900;
  line-height: 1.1;
  letter-spacing: -0.033em;
}

@container (min-width: 480px) {
  .title {
    font-size: 3.75rem;
  }
}

.subtitle {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.9);
}

@container (min-width: 480px) {
  .subtitle {
    font-size: 1.125rem;
  }
}

.button {
  display: flex;
  min-width: 84px;
  max-width: 480px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 0.75rem 1.25rem;
  border-radius: 0.75rem;
  background: #0083d1;
  color: white;
  font-weight: 700;
  transition: transform 0.2s;
  cursor: pointer;
}

.button:hover {
  transform: scale(1.05);
}

@container (min-width: 480px) {
  .button {
    height: 48px;
  }
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
