body {
  background-color: rgba(255, 255, 255, 0.8);
  background-color: #f5f6f7;
  margin: 0;
  padding: 0;
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#root {
  position: relative;
  display: flex;
  min-height: 100dvh;
  width: 100%;
  flex-direction: column;
}
